# SECB3203 - Programming for Bioinformatics
## Group 10 - Pancreatic Cancer Prediction
###  Group Members
- WELSON WOONG LU BIN (A23CS0196)
- RAVINESH A/L MARAN (A23CS0175)
- BERNICE LOU MIN YUN (A23CS0056)

---
## Import Libraries (Machine Learning and Prediction)

In [2]:
# For EDA
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, RobustScaler

# For Machine Learning
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LogisticRegression, BayesianRidge
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier, VotingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report, confusion_matrix
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.exceptions import FitFailedWarning

---

## Progress 2 
### Importing Data Set
  - Understanding the data
  - Importing and exporting data in Python
  - Getting started analyzing data in Python
  - Python packages for Data Science

In [3]:
df = pd.read_csv(r"C:\bioinfo2\p4b\project\Pancrease_Cancer_Prediction\pancreatic_cancer_prediction_sample.csv")
df.head()

,Country,Age,Gender,Smoking_History,Obesity,Diabetes,Chronic_Pancreatitis,Family_History,Hereditary_Condition,Jaundice,...,Stage_at_Diagnosis,Survival_Time_Months,Treatment_Type,Survival_Status,Alcohol_Consumption,Physical_Activity_Level,Diet_Processed_Food,Access_to_Healthcare,Urban_vs_Rural,Economic_Status
0,Canada,64,Female,0,0,0,0,0,0,0,...,Stage III,13,Surgery,0,0,Medium,Low,High,Urban,Low
1,South Africa,77,Male,1,1,0,0,0,0,0,...,Stage III,13,Chemotherapy,0,1,Medium,Medium,Medium,Urban,Low
2,India,71,Female,0,0,0,0,0,0,0,...,Stage IV,3,Chemotherapy,1,0,Medium,High,Low,Rural,Middle
3,Germany,56,Male,0,0,0,0,1,0,1,...,Stage IV,6,Radiation,0,1,Low,Low,Medium,Rural,Middle
4,United States,82,Female,0,0,0,0,1,0,0,...,Stage IV,9,Chemotherapy,1,0,Low,Medium,Medium,Rural,Low

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,50000.0,64.54094,9.973847,30.0,58.0,65.0,71.0,90.0
Smoking_History,50000.0,0.29954,0.458061,0.0,0.0,0.0,1.0,1.0
Obesity,50000.0,0.24826,0.432008,0.0,0.0,0.0,0.0,1.0
Diabetes,50000.0,0.19998,0.399989,0.0,0.0,0.0,0.0,1.0
Chronic_Pancreatitis,50000.0,0.09930,0.299067,0.0,0.0,0.0,0.0,1.0
Family_History,50000.0,0.15168,0.358714,0.0,0.0,0.0,0.0,1.0
Hereditary_Condition,50000.0,0.04944,0.216787,0.0,0.0,0.0,0.0,1.0
Jaundice,50000.0,0.19922,0.399418,0.0,0.0,0.0,0.0,1.0
Abdominal_Discomfort,50000.0,0.29650,0.456719,0.0,0.0,0.0,1.0,1.0
Back_Pain,50000.0,0.25286,0.434656,0.0,0.0,0.0,1.0,1.0
Weight_Loss,50000.0,0.34998,0.476968,0.0,0.0,0.0,1.0,1.0
Development_of_Type2_Diabetes,50000.0,0.19622,0.397141,0.0,0.0,0.0,0.0,1.0
Survival_Time_Months,50000.0,13.89804,11.272151,1.0,6.0,10.0,19.0,59.0
Survival_Status,50000.0,0.12844,0.334582,0.0,0.0,0.0,0.0,1.0
Alcohol_Consumption,50000.0,0.30346,0.459757,0.0,0.0,0.0,1.0,1.0

In [5]:
df.describe(include='object').T

                         count unique            top   freq
Country                  50000      9  United States  17608
Gender                   50000      2           Male  25962
Stage_at_Diagnosis       50000      4       Stage IV  19922
Treatment_Type           50000      3   Chemotherapy  24910
Physical_Activity_Level  50000      3         Medium  20038
Diet_Processed_Food      50000      3         Medium  20122
Access_to_Healthcare     50000      3         Medium  25268
Urban_vs_Rural           50000      2          Urban  35003
Economic_Status          50000      3         Middle  24881

### Data Wrangling (Pandas / Numpy)
  - Identifying and handling missing values
  - Data formatting
  - Data normalization (centering/scaling)
  - Binning
  - Indicator variables